.about {
    margin: 140px 0 162px;
    display: flex;
    flex-direction: column;
    gap: 140px;
}

.about__wrap {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 445px;
    width: 100%;
}

.about__content-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__content-desc {
    font-family: var(--ff);
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: var(--gray);
    max-width: 305px;
    width: 100%;
    word-break: break-all;
}

.about__content-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__img {
    max-width: 540px;
    width: 100%;
}

.about__img img {
    width: 100%;
    height: 100%;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.about__card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.about__card::after {
    content: "";
    position: absolute;
    top: 51px;
    left: 0;
    width: 75%;
    height: 1px;
    background: var(--white);
    display: block;
}

.about__card-title {
    font-family: var(--ff);
    font-weight: 400;
    font-size: 48px;
    line-height: 90%;
    color: var(--white);
}

.about__card-desc {
    font-family: var(--ff);
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: var(--gray);
}


@media screen and (max-width: 768px) {
    .about__wrap {
        flex-direction: column;
        align-items: center;
    }

    .about__content,
    .about__content-desc,
    .about__img {
        max-width: none;
    }

    .about__content {
        gap: 20px;
    }

    .about__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__card::after {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .about__grid {
        grid-template-columns: 1fr;
    }

    .about__card {
        align-items: center;
        text-align: center;
    }
}